@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto:ital,wght@1,100&family=Spline+Sans&display=swap');


.app {
    box-sizing: content-box;
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    background: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%)
}

.preloaderWrap {
    height: 100vh;
    width: 100%;
    background-color: #2C2D2E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
   flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2, span {
    color: #2D2E46;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

h3 {
    color: #2D2E46;
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-size: 12px;
    color: #2D2E46;
}

a:hover {
    color: #2D2E46;
}
