.mainContainer {
    position: absolute;
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    background: #EBE0E9;
}
.container {
    display: flex;

}
.packsList {
    width: 173px;
    background-color: #DCCCDB;
    text-align: center;
    padding: 22px 0;
    margin: 0 5px;
}
.link {
    text-decoration: none;
    color: #25142E;
}