.containerHeader {
    max-height: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
.btnHeader {
    max-width: 60px;
}
.link {
    text-decoration: none;
    color: black;
}