.tableEl {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.5em 0.5em;

}
.tableElSmall{
    width: 150px;
    padding: 0.5em 0;

}
.table {
    display: flex;
    padding: 0.5em 0;
    border: 1px solid black;

}
.tableWrapper {
    display: flex;
    flex-direction: column;
    }
.inputBlock {
    display: flex;
    padding: 1em;
    justify-content: space-around;
}

.header {
    font-size: 1.1em;
    padding: 1em;
}

